.home-background {
  background-image: url(/public/images/background/fondo-2.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; 
  background-attachment: fixed; 
  width: 100vw;
  height: 43vw; 
}
.idioms-es{
  display: flex;
  
}
.img-sp{
  width: 40px;
  
}
.img-eng{
  width: 40px;
 
}
.btn-i{
  position: absolute;
  right: 120px;
}
.btn-i-eng{
  position: absolute;
    right: 67px;
}

.navig{
  display: flex;
  align-self: flex-start;
  flex-wrap: nowrap;
  justify-content: space-around;
  position: relative;
  top:625px;
}